--
-- PostgreSQL database dump
--

\restrict TDpDyT4eIiCfuoud6Dtpfcp3ky9YuHamVfapxys1L3Buhu3gUe7UGv2VeXJ8bc9

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: maxime-le-tout-puissant
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO "maxime-le-tout-puissant";

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: maxime-le-tout-puissant
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Movie; Type: TABLE; Schema: public; Owner: maxime-le-tout-puissant
--

CREATE TABLE public."Movie" (
    id text NOT NULL,
    title text NOT NULL,
    year text NOT NULL,
    genre text NOT NULL,
    director text NOT NULL,
    writer text NOT NULL,
    actors text NOT NULL,
    poster text,
    "posterWide" text,
    ratings jsonb NOT NULL,
    metascore text NOT NULL,
    "isSeen" boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Movie" OWNER TO "maxime-le-tout-puissant";

--
-- Name: Watchlist; Type: TABLE; Schema: public; Owner: maxime-le-tout-puissant
--

CREATE TABLE public."Watchlist" (
    id text NOT NULL,
    poster text NOT NULL,
    "isSeen" boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Watchlist" OWNER TO "maxime-le-tout-puissant";

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: maxime-le-tout-puissant
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO "maxime-le-tout-puissant";

--
-- Data for Name: Movie; Type: TABLE DATA; Schema: public; Owner: maxime-le-tout-puissant
--



--
-- Data for Name: Watchlist; Type: TABLE DATA; Schema: public; Owner: maxime-le-tout-puissant
--

COPY public."Watchlist" (id, poster, "isSeen", created_at) FROM stdin;
260012c6-a914-4d1b-98a6-e413a65ba65a	/jcgUjx1QcupGzjntTVlnQ15lHqy.jpg	f	2025-10-12 17:02:12.603
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: maxime-le-tout-puissant
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
\.


--
-- Name: Movie Movie_pkey; Type: CONSTRAINT; Schema: public; Owner: maxime-le-tout-puissant
--

ALTER TABLE ONLY public."Movie"
    ADD CONSTRAINT "Movie_pkey" PRIMARY KEY (id);


--
-- Name: Watchlist Watchlist_pkey; Type: CONSTRAINT; Schema: public; Owner: maxime-le-tout-puissant
--

ALTER TABLE ONLY public."Watchlist"
    ADD CONSTRAINT "Watchlist_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: maxime-le-tout-puissant
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Movie_title_key; Type: INDEX; Schema: public; Owner: maxime-le-tout-puissant
--

CREATE UNIQUE INDEX "Movie_title_key" ON public."Movie" USING btree (title);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: maxime-le-tout-puissant
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict TDpDyT4eIiCfuoud6Dtpfcp3ky9YuHamVfapxys1L3Buhu3gUe7UGv2VeXJ8bc9

